@keyframes zoom-out {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(0.0);
    }
}

@keyframes zoom-in {
    0% {
        transform: scale(0.0);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1.0;
    }
    100% {
        opacity: 0;
    }
}