@import '../variables.scss';

// --------- RECAPTCHA -------- 
#recaptcha {
    margin: 20px calc((100% - 304px)/2);
}
// ---------

// --------- NAVIGATION ---------
#nav {
    display: flex;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100vw;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    
    #nav__logo {
        padding: 0px 50px;
    }

    #nav__links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-right: 50px;

        .nav__link {
            list-style: none;
            padding: 0px 25px;
            font-weight: 500;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            color: #000000;
            &--highlight {
                list-style: none;
                background: rgba(160, 78, 242, 0.12);
                a {
                    color: #A04EF2 !important;
                    scroll-behavior: smooth;
                }
            }

            &:hover {
                background: $nav-button-hover;
                cursor: pointer;
                margin-right: 10px;
            }
        }
    }
}

#mobile-nav {
    display: none;
    flex-direction: column;
    position: fixed;
    background: #ffffff;
    width: 100vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 3;
    &__main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &__logo {
            margin: 20px 20px;
        } 
        .mobile-nav__main__button {
            height: 50px;
            background: transparent !important;
            margin: 20px 20px;
        }
    }
    &__items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #nav__links {
            padding: 0;
            .nav__link {
                // animation: fade-in .3s ease-in;
                list-style: none;
                padding: 20px 25px;
                font-weight: 500;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 15px;
                color: #000000;
                &--highlight {
                    list-style: none;
                    background: rgba(160, 78, 242, 0.12);
                    border-radius: 0 !important;
                    a {
                        color: #A04EF2 !important;
                        scroll-behavior: smooth;
                    }
                }
    
                &:hover {
                    background: $nav-button-hover;
                    cursor: pointer;
                    margin-right: 10px;
                }
            }
        }
    }
}
// ---------

// --------- HEADER ---------
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding-top: 100px;
    background: url(../images/Header__Background.svg) no-repeat;
    background-size: cover;

    &__intro {
        width: 60%;
        padding: 50px;
    }

    &__image {
        img {
            width: 100%;
            max-width: 55vw
        }
    }

    &__greeting {
        font-size: 72px;
        color: $app-primary;
    }

    &__name, &__role {
        font-size: 36px;
    }

    &__role {
        color: $app-secondary;
    }

    &__note {
        font-size: 24px;
        font-weight: 200;
    }

    &__contact {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        align-items: center;
    }

    .header__contact__button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f4f4f4;
        border: 0;
        border-radius: 15px;
        height: 50px;
        padding: 0px 10px;
        font-size: 16px;
        font-weight: 500;
        margin: 15px 15px 15px 0px;

        .icon {
            margin-right: 10px !important;
        }
    }

    &__acclaim {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 50px;
        &:hover {
            cursor: pointer;
        }

        &__title {
            width: 200px;
            background: rgba(78, 114, 242, 0.3);
            height: 50px;
            justify-content: center;
            align-items: center;
            display: flex;
            font-weight: 700;
            color: #000000;
        }

        .marquee__image {
            margin: 0px 15px;
        }
    }
}
// ---------    

// --------- SECTIONS
.section {
    display: flex;
    flex-direction: row;

    &__title {
        width: 20%;
        text-align: center;
        margin: 50px 0px;
        margin-top: 100px;
        // border: 1px solid #000000;
        // height: 100%;
        background: $section-title-background;
        // display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__text {
            font-size: 24px;
            font-weight: 600 !important;
            width: 95%;
            // transform: translateY(-70px);
        }
    }

    &__content {
        width: 80vw;
        padding: 0px 50px;
        margin-top: 100px;
        &__heading {
            text-align: center;
            margin: 20px 0px;
            // width: 100%;
            font-weight: 600;
            font-size: 20px;
        }
    }
}
// ---------

// --------- MY SKILLS SECTION ---------
#my-skills {
    .section__title {
        #hint {
            height: 30px;
            width: 75%;
            background-color: $my-skills-hint-color;
            z-index: -1;
            transform: translateY(-30px);
        }
    }

    .section__content {
        &__heading {
        }
        #hint {
            height: 30px;
            width: 70px;
            background: $my-skills-hint-color;
            border-radius: 15px;
            z-index: -1;
            transform: translate(470px, -45px);
        }
        &__subheading {
            font-size: 18px;
            font-weight: 400;
            margin: 0px 0px 30px 0px;

            #sub-hint {
                color: $app-primary;
            }
        }

        #framework__row {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            // justify-content: space-around;
            align-items: center;

            .framework {
                margin: 0px 50px 30px 0px;
                &::before {
                    content: 'o';
                    height: 10px;
                    width: 10px;
                    font-weight: 700;
                    color: $app-primary;
                    margin-right: 20px;
                }
            }
        }

        #tool__row {
            display: flex;
            flex-direction: row;
            // justify-content: space-evenly;
            align-items: center;

            .tool {
                margin: 0px 50px 30px 0px;
                &::before {
                    content: 'o';
                    height: 10px;
                    width: 10px;
                    font-weight: 700;
                    color: $app-secondary;
                    margin-right: 20px;
                }
            }
        }
    }
}
// ---------

// --------- SERVICES SECTION ---------
#services {
    .section__title {
        #hint {
            height: 30px;
            width: 75%;
            background-color: $services-hint-color;
            z-index: -1;
            transform: translateY(-30px);
        }
    }

    .section__content {
        &__heading {
        }
        #hint {
            height: 30px;
            width: 70px;
            background: $services-hint-color;
            border-radius: 15px;
            z-index: -1;
            transform: translate(490px, -45px);
        }

        #service__row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .service {
                height: 250px;
                width: 200px;
                border-radius: 15px;
                // box-shadow: 0px 4px 4px rgba(89, 89, 89, 0.19);
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                background: #f4f4f4;
                padding: 0px 20px;
                color: #ffffff;
                font-weight: 600;
                &__icon {
                    height: 50px !important;
                    width: 50px !important;
                }
            }
            #service__web {
                background-image: url(../images/icons/service__web__bg.png);
            }
            #service__mobile {
                background-image: url(../images/icons/service__mobile__bg.png);
            }
            #service__design {
                background-image: url(../images/icons/service__design__bg.png);
            }
        }
        // &__subheading {
        //     font-size: 18px;
        //     font-weight: 400;
        //     margin: 0px 0px 30px 0px;

        //     #sub-hint {
        //         color: $app-primary;
        //     }
        // }

        // #framework__row {
        //     display: flex;
        //     flex-direction: row;
        //     // justify-content: space-evenly;
        //     align-items: center;

        //     .framework {
        //         margin: 0px 50px 30px 0px;
        //         &::before {
        //             content: 'o';
        //             height: 10px;
        //             width: 10px;
        //             font-weight: 700;
        //             color: $app-primary;
        //             margin-right: 20px;
        //         }
        //     }
        // }

        // #tool__row {
        //     display: flex;
        //     flex-direction: row;
        //     // justify-content: space-evenly;
        //     align-items: center;

        //     .tool {
        //         margin: 0px 50px 30px 0px;
        //         &::before {
        //             content: 'o';
        //             height: 10px;
        //             width: 10px;
        //             font-weight: 700;
        //             color: $app-secondary;
        //             margin-right: 20px;
        //         }
        //     }
        // }
    }
}
// ---------

// --------- PORTFOLIO SECTION ---------
#portfolio {
    .section__title {
        #hint {
            height: 30px;
            width: 75%;
            background-color: $portfolio-hint-color;
            z-index: -1;
            transform: translateY(-30px);
        }
    }

    .section__content {
        &__heading {
        }
        #hint {
            height: 30px;
            width: 70px;
            background: $portfolio-hint-color;
            border-radius: 15px;
            z-index: -1;
            transform: translate(450px, -45px);
        }

        #project__row {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .project {
                // height: 250px;
                min-height: 370px;
                width: 200px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 0px 20px;
                color: #000000;
                font-weight: 600;
                position: relative;
                margin: 20px 0px;
                &__image {
                    box-shadow: 0px 4px 4px rgba(89, 89, 89, 0.19);
                    border-radius: 15px;
                    height: 200px !important;
                    width: 200px !important;
                    background: #f4f4f4;
                }
                &__title, &__role, &__description {
                    margin-bottom: 0;
                }

                &__role, &__description {
                    font-weight: 400;
                    font-size: 16px;
                    .web-hint {
                        color: $my-skills-hint-color;
                    }
                    .mobile-hint {
                        color: $services-hint-color;
                    }
                    .design-hint {
                        color: $portfolio-hint-color;
                    }
                    span {
                        color: $text-alt-color;
                        font-weight: 600;
                        margin-right: 10px;
                        &:after {
                            content: ':';
                        }
                    }
                }

                &__title {
                    text-align: center;
                }

                &__description {
                    opacity: .8;
                    a {
                        text-decoration: underline;
                    }
                }

                &__open__icon {
                    position: absolute;
                    top: 10px;
                    right: 30px;
                    // img {
                    //     border-radius: 50%;
                    //     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    // }
                }
            }
            #project__web {
                // background-image: url(../images/icons/project__web__bg.png);
            }
            #project__mobile {
                // background-image: url(../images/icons/project__mobile__bg.png);
            }
            #project__design {
                // background-image: url(../images/icons/project__design__bg.png);
            }
        }
    }
}
// ---------

// --------- CONTACT SECTION ---------
#contact {
    .section__title {
        #hint {
            height: 30px;
            width: 75%;
            background-color: $contact-hint-color;
            z-index: -1;
            transform: translateY(-30px);
        }
    }

    .section__content {
        &__heading {
        }
        #hint {
            height: 30px;
            width: 70px;
            background: $contact-hint-color;
            border-radius: 15px;
            z-index: -1;
            transform: translate(450px, -45px);
        }
        #contact__social {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .contact__social__button {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #f4f4f4;
                border: 0;
                border-radius: 15px;
                height: 50px;
                padding: 0px 10px;
                font-size: 16px;
                font-weight: 500;
                margin: 0px 15px;

                .icon {
                    margin-right: 10px !important;
                }
            }
        }
        #contact__separator {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            &__left, &__right {
                height: 5px;
                width: 100px;
                background: $app-secondary;
                margin: 0px 20px;
            }

            &__text {
                font-weight: 600;
                color: $text-alt-color;
            }
        }
        #contact__form {
            .contact__form__row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin: 0px 0px 20px 0px;
            }
            .contact__form__input__group {
                display: flex;
                flex-direction: column !important;
                justify-content: space-around;
                align-items: baseline;
                min-height: 100px;

                label {
                    margin: 20px 0px;
                }

                input, select, textarea {
                    min-height: 50px !important;
                    width: 250px;
                    background: #f4f4f4;
                    border: 0;
                    border-radius: 15px;
                    font-family: 'Montserrat', san-serif;
                    font-size: 16px;
                    padding: 0px 10px;
                }

                textarea {
                    height: 300px;
                    padding: 20px;
                    width: calc(100% - 40px);
                }

                // --------- FORM VALIDATION ---------
                input:valid, select:valid, textarea:valid {
                    border: 2px solid $form-success-color
                }

                input:invalid, select:invalid, textarea:invalid {
                    border: 2px solid $form-error-color
                }
                // ---------
            }
            &__submit__button {
                height: 50px;
                width: 250px;
                margin: 20px calc((100% - 250px)/2);
                padding: 0px 10px;
                font-size: 16px;
                font-weight: 500;
                background: $app-secondary;
                border-radius: 15px;
                color: #ffffff;
            }
        }
    }
}
// ---------

// --------- FOOTER ---------
#footer {
    &__main {
        display: flex;
        flex-direction: row;
        height: 100px;
        width: 100vw;
        background: $app-secondary;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
    
        #footer__logo {
            padding: 0px 50px;
        }
    
        #footer__links {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-right: 50px;
    
            .footer__link {
                list-style: none;
                padding: 0px 25px;
                font-weight: 500;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 15px;
                a {
                    color: #ffffff;
                }
    
                &:hover {
                    background: $footer-button-hover;
                    cursor: pointer;
                    margin-right: 10px;
                }
            }
        }
    }
    &__copyright {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $text-alt-color;
        font-weight: 600;

        &__unsplash {
            text-align: center;
        }
    }
}
// ---------

// --------- MEDIA QUERIES ---------
@media only screen and (min-width: 1920px) {
    #header {
        margin: 0px 20vw;
        max-width: 60vw;
        &__intro {
            padding: 50px 0px;
        }
        &__image {
            max-height: 700px;
            img {
                max-height: 700px
            }
        }
    }
    .section {
        max-width: 60vw;
        margin: 0px auto;
    }
}

@media only screen and (max-width: 1024px) {
    #header {
        height: 450px;
        &__image {
            img {
                height: 100% !important;
            }
        }
        &__greeting {
            font-size: 2.5rem;
        }
        &__note {
            font-size: 1rem;
        }
        &__name, &__role {
            font-size: 1.5rem;
        }
        .header__contact__button {
            margin: 0px 5px;
        }
    }
    .section {
        &__title {
            width: 30vw;
        }
        &__content {
            width: 70vw;
            &__heading {
            }
        }
    }
    #my-skills {
        .section__content {
            #hint {
                transform: translate(260px, -45px);
            }
        }
    }
    #services {
        .section__content {
            #hint {
                transform: translate(320px, -45px);
            }
        }
    }
    #portfolio {
        .section__content {
            #hint {
                transform: translate(280px, -45px);
            }
        }
    }
    #contact {
        .section__content {
            #hint {
                transform: translate(280px, -45px);
            }
        }
        #contact__form {
            .contact__form__row {
                .contact__form__input__group {
                    input, select {
                        width: 200px
                    }
                }
            }
        }
    }
}

// --------- TABLET ---------
@media only screen and (max-width: 768px) {
    #nav {
        #nav__logo {
            padding: 0px 20px;
        }
        #nav__links {
            padding: 0px 20px;
            .nav__link {
                padding: 0px 15px;
            }
        }
    }
    #header {
        height: 450px;
        &__intro {
            width: 100vw;
        }
        &__image {
            display: none;
            // img {
            //     height: 100% !important;
            // }
        }
        &__greeting {
            font-size: 2.5rem;
        }
        &__note {
            font-size: 1rem;
        }
        &__name, &__role {
            font-size: 1.5rem;
        }
        .header__contact__button {
            margin: 0px 5px;
        }
    }
    .section {
        &__title {
            width: 30vw;
        }
        &__content {
            width: 70vw;
            padding: 0px 30px;
            &__heading {
            }
        }
    }
    #my-skills {
        .section__content {
            #hint {
                transform: translate(190px, -45px);
            }
        }
    }
    #services {
        .section__content {
            #hint {
                transform: translate(200px, -45px);
            }
            #service__row {
                flex-wrap: wrap;
                .service {
                    padding: 0px 20px;
                    margin: 20px 0px;
                    width: 200px !important;
                }
            }
        }
    }
    #portfolio {
        .section__content {
            #hint {
                transform: translate(155px, -45px);
            }
            #project__row {
                flex-wrap: wrap;
                .project {
                    padding: 0px 0px 20px 0px;

                    &__open__icon {
                        right: 10px;
                    }
                }
            }
        }
    }
    #contact {
        .section__content {
            #hint {
                transform: translate(190px, -45px);
            }
            #contact__social {
                flex-wrap: wrap;
                a {
                    .contact__social__button {
                        margin: 10px 20px;
                    }
                }
            }
        }
        #contact__form {
            .contact__form__row {
                flex-wrap: wrap;
                .contact__form__input__group {
                    input, select {
                        width: 200px
                    }
                }
            }
        }
    }
}

// --------- LARGE MOBILE ---------
@media only screen and (max-width: 425px) {
    #nav {
        flex-direction: column;
        display: none;
        #nav__logo {
            margin-top: 20px;
        }
        #nav__links {
            padding: 0;
            margin: 0px 0px 20px 0px;
            .nav__link {

            }
        } 
    }
    #mobile-nav {
        display: flex;
        &__items {
            display: none;
        }
    }
    #header {
        height: 500px;
        &__intro {
            padding: 10px 20px;
            #header__contact {
                flex-wrap: wrap;
                a {
                    .header__contact__button {
                        margin: 10px 20px;
                    }
                }
            }
        }
    }
    .section {
        .section__title {
            display: none;
        }
        .section__content {
            width: 100vw;
        }
    }
    #my-skills {
        .section__content {
            #tool__row {
                flex-wrap: wrap;
            }
        }
    }
    #services {
        .section__content {
            #service__row {
                justify-content: center;
            }
        }
    }
    #portfolio {
        .section__content {
            #project__row {
                justify-content: center;
            }
        }
    }
    #contact {
        .section__content {
            #contact__form {
                .contact__form__row {
                    .contact__form__input__group {
                        input, select {
                            width: calc(100vw - 80px);
                        }
                    }
                }
            }
        }
    }
    #footer {
        #footer__main {
            flex-direction: column;
            padding: 10px 0px;
            #footer__links {
                margin: 0px 20px 20px 20px;
            }
        }
    }
}

// -------- MEDIUM MOBILE ---------
@media only screen and (max-width: 375px) {
    #nav {
        #nav__logo {
        }
        #nav__links {
            .nav__link {
                padding: 0px 10px 0px 0px;
                &--highlight {
                    padding: 2px
                }
            }
        } 
    }
    #header {
        min-height: 700px;
        &__contact {
            .header__contact__button {
                width: 80vw;
            }
        }
    }
    .section {
        &__content {
            padding: 0px 10px
        }
    }
    #my-skills {
        .section__content {
            #hint {
                transform: translate(115px, -45px);
            }
        }
    }
    #services {
        .section__content {
            #hint {
                transform: translate(135px, -45px);
            }
        }
    }
    #portfolio {
        .section__content {
            #hint {
                transform: translate(95px, -45px);
            }
        }
    }
    #contact {
        .section__content {
            #hint {
                transform: translate(95px, -45px);
            }
            #contact__social {
                .contact__social__button {
                    width: 80vw
                }
            }
            #contact__form {
                .contact__form__row {
                    justify-content: space-between;
                }
                .contact__form__input__group textarea{
                    width: 80vw;
                    margin: 0px 0px 0px 10px;
                }
            }
        }
    }
    #footer {
        &__main {
            #footer__links {
                padding: 0px 0px 20px 20px;
            }
        }
        &__copyright {
            padding: 0px 10px;
        }
    }
}

// -------- SMALL MOBILE ---------
@media only screen and (max-width: 320px) {
    #nav {
        #nav__logo {
        }
        #nav__links {
            .nav__link {
                padding: 0px 15px 0px 0px;
                &--highlight {
                    padding: 2px;
                    display: none;
                }
                &:hover {
                    background: transparent;
                    margin: 0 !important;
                }
            }
        } 
    }
    #header {
        min-height: 700px;
        &__intro {
            padding: 10px;
        }
        &__contact {
            .header__contact__button {
                width: 80vw;
            }
        }
    }
    .section {
        &__content {
            padding: 0px 5px
        }
    }
    #my-skills {
        .section__content {
            #hint {
                transform: translate(115px, -45px);
            }
        }
    }
    #services {
        .section__content {
            #hint {
                transform: translate(135px, -45px);
            }
        }
    }
    #portfolio {
        .section__content {
            #hint {
                transform: translate(95px, -45px);
            }
        }
    }
    #contact {
        .section__content {
            #hint {
                transform: translate(95px, -45px);
            }
            #contact__social {
                width: 100vw;
                .contact__social__button {
                    width: 90vw;
                    margin: 10px 0px !important;
                }
            }
            #contact__form {
                .contact__form__row {
                    justify-content: space-between;
                }
                .contact__form__input__group {
                    width: 95vw;
                    margin: 0px 10px;
                    label {
                        margin: 20px 10px;
                    }
                    input, select {
                        width: 100%;
                        margin: 0px 0px 0px 10px;
                    }
                    textarea {
                        width: 70%;
                    }
                }
            }
            #contact__submit__button {
                margin: 20px calc((100% - 280px)/2);
            }
        }
    }
    #footer {
        &__main {
            #footer__links {
                padding: 0px 0px 20px 20px;
                .footer__link {
                    padding: 0px 10px
                }
            }
        }
        &__copyright {
            padding: 0px 10px;
        }
    }
}

// ---------

// --------- DARK MODE ---------
@media (prefers-color-scheme: dark) {
    .nav__link {
        a {
            color: #1d1c1c !important
        }
    }

    #header {
        background: url(../images/Header__Background--dark.svg) no-repeat;
        background-size: cover;
    }

    #header__greeting {
        color: $app-primary !important;
    }

    .service {
        background: none !important;
    }
    
    #service__web {
        background-image: url(../images/icons/service__web__bg.png) !important;
    }
    
    #service__design {
        background-image: url(../images/icons/service__design__bg.png) !important;
    }
    
    #service__mobile {
        background-image: url(../images/icons/service__mobile__bg.png) !important;
    }

    #footer__copyright__unsplash {
        color: #524D4E !important;
    }
    // #services {
    //     .service__content {
    //         #service__row {
    //             .service {
    //                 background: none !important;
    //             }
    //             #service__web {
    //                 background-image: url(../images/icons/service__web__bg.png) !important;
    //             }
    //         }
    //     }
    // }

}

// ---------