#recaptcha {
  margin: 20px calc((100% - 304px)/2);
}

#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100px;
  width: 100vw;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 2;
}

#nav #nav__logo {
  padding: 0px 50px;
}

#nav #nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 50px;
}

#nav #nav__links .nav__link {
  list-style: none;
  padding: 0px 25px;
  font-weight: 500;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  color: #000000;
}

#nav #nav__links .nav__link--highlight {
  list-style: none;
  background: rgba(160, 78, 242, 0.12);
}

#nav #nav__links .nav__link--highlight a {
  color: #A04EF2 !important;
  scroll-behavior: smooth;
}

#nav #nav__links .nav__link:hover {
  background: #f4f4f4;
  cursor: pointer;
  margin-right: 10px;
}

#mobile-nav {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  background: #ffffff;
  width: 100vw;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 3;
}

#mobile-nav__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mobile-nav__main__logo {
  margin: 20px 20px;
}

#mobile-nav__main .mobile-nav__main__button {
  height: 50px;
  background: transparent !important;
  margin: 20px 20px;
}

#mobile-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mobile-nav__items #nav__links {
  padding: 0;
}

#mobile-nav__items #nav__links .nav__link {
  list-style: none;
  padding: 20px 25px;
  font-weight: 500;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  color: #000000;
}

#mobile-nav__items #nav__links .nav__link--highlight {
  list-style: none;
  background: rgba(160, 78, 242, 0.12);
  border-radius: 0 !important;
}

#mobile-nav__items #nav__links .nav__link--highlight a {
  color: #A04EF2 !important;
  scroll-behavior: smooth;
}

#mobile-nav__items #nav__links .nav__link:hover {
  background: #f4f4f4;
  cursor: pointer;
  margin-right: 10px;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  padding-top: 100px;
  background: url(../images/Header__Background.svg) no-repeat;
  background-size: cover;
}

#header__intro {
  width: 60%;
  padding: 50px;
}

#header__image img {
  width: 100%;
  max-width: 55vw;
}

#header__greeting {
  font-size: 72px;
  color: #A04EF2;
}

#header__name, #header__role {
  font-size: 36px;
}

#header__role {
  color: #4E72F2;
}

#header__note {
  font-size: 24px;
  font-weight: 200;
}

#header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header__contact__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f4f4f4;
  border: 0;
  border-radius: 15px;
  height: 50px;
  padding: 0px 10px;
  font-size: 16px;
  font-weight: 500;
  margin: 15px 15px 15px 0px;
}

#header .header__contact__button .icon {
  margin-right: 10px !important;
}

#header__acclaim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

#header__acclaim:hover {
  cursor: pointer;
}

#header__acclaim__title {
  width: 200px;
  background: rgba(78, 114, 242, 0.3);
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  color: #000000;
}

#header__acclaim .marquee__image {
  margin: 0px 15px;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section__title {
  width: 20%;
  text-align: center;
  margin: 50px 0px;
  margin-top: 100px;
  background: rgba(196, 196, 196, 0.03);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__title__text {
  font-size: 24px;
  font-weight: 600 !important;
  width: 95%;
}

.section__content {
  width: 80vw;
  padding: 0px 50px;
  margin-top: 100px;
}

.section__content__heading {
  text-align: center;
  margin: 20px 0px;
  font-weight: 600;
  font-size: 20px;
}

#my-skills .section__title #hint {
  height: 30px;
  width: 75%;
  background-color: rgba(239, 78, 242, 0.3);
  z-index: -1;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

#my-skills .section__content #hint {
  height: 30px;
  width: 70px;
  background: rgba(239, 78, 242, 0.3);
  border-radius: 15px;
  z-index: -1;
  -webkit-transform: translate(470px, -45px);
          transform: translate(470px, -45px);
}

#my-skills .section__content__subheading {
  font-size: 18px;
  font-weight: 400;
  margin: 0px 0px 30px 0px;
}

#my-skills .section__content__subheading #sub-hint {
  color: #A04EF2;
}

#my-skills .section__content #framework__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#my-skills .section__content #framework__row .framework {
  margin: 0px 50px 30px 0px;
}

#my-skills .section__content #framework__row .framework::before {
  content: 'o';
  height: 10px;
  width: 10px;
  font-weight: 700;
  color: #A04EF2;
  margin-right: 20px;
}

#my-skills .section__content #tool__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#my-skills .section__content #tool__row .tool {
  margin: 0px 50px 30px 0px;
}

#my-skills .section__content #tool__row .tool::before {
  content: 'o';
  height: 10px;
  width: 10px;
  font-weight: 700;
  color: #4E72F2;
  margin-right: 20px;
}

#services .section__title #hint {
  height: 30px;
  width: 75%;
  background-color: rgba(160, 78, 242, 0.3);
  z-index: -1;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

#services .section__content #hint {
  height: 30px;
  width: 70px;
  background: rgba(160, 78, 242, 0.3);
  border-radius: 15px;
  z-index: -1;
  -webkit-transform: translate(490px, -45px);
          transform: translate(490px, -45px);
}

#services .section__content #service__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#services .section__content #service__row .service {
  height: 250px;
  width: 200px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #f4f4f4;
  padding: 0px 20px;
  color: #ffffff;
  font-weight: 600;
}

#services .section__content #service__row .service__icon {
  height: 50px !important;
  width: 50px !important;
}

#services .section__content #service__row #service__web {
  background-image: url(../images/icons/service__web__bg.png);
}

#services .section__content #service__row #service__mobile {
  background-image: url(../images/icons/service__mobile__bg.png);
}

#services .section__content #service__row #service__design {
  background-image: url(../images/icons/service__design__bg.png);
}

#portfolio .section__title #hint {
  height: 30px;
  width: 75%;
  background-color: rgba(78, 114, 242, 0.3);
  z-index: -1;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

#portfolio .section__content #hint {
  height: 30px;
  width: 70px;
  background: rgba(78, 114, 242, 0.3);
  border-radius: 15px;
  z-index: -1;
  -webkit-transform: translate(450px, -45px);
          transform: translate(450px, -45px);
}

#portfolio .section__content #project__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#portfolio .section__content #project__row .project {
  min-height: 370px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0px 20px;
  color: #000000;
  font-weight: 600;
  position: relative;
  margin: 20px 0px;
}

#portfolio .section__content #project__row .project__image {
  -webkit-box-shadow: 0px 4px 4px rgba(89, 89, 89, 0.19);
          box-shadow: 0px 4px 4px rgba(89, 89, 89, 0.19);
  border-radius: 15px;
  height: 200px !important;
  width: 200px !important;
  background: #f4f4f4;
}

#portfolio .section__content #project__row .project__title, #portfolio .section__content #project__row .project__role, #portfolio .section__content #project__row .project__description {
  margin-bottom: 0;
}

#portfolio .section__content #project__row .project__role, #portfolio .section__content #project__row .project__description {
  font-weight: 400;
  font-size: 16px;
}

#portfolio .section__content #project__row .project__role .web-hint, #portfolio .section__content #project__row .project__description .web-hint {
  color: rgba(239, 78, 242, 0.3);
}

#portfolio .section__content #project__row .project__role .mobile-hint, #portfolio .section__content #project__row .project__description .mobile-hint {
  color: rgba(160, 78, 242, 0.3);
}

#portfolio .section__content #project__row .project__role .design-hint, #portfolio .section__content #project__row .project__description .design-hint {
  color: rgba(78, 114, 242, 0.3);
}

#portfolio .section__content #project__row .project__role span, #portfolio .section__content #project__row .project__description span {
  color: #cbcbcb;
  font-weight: 600;
  margin-right: 10px;
}

#portfolio .section__content #project__row .project__role span:after, #portfolio .section__content #project__row .project__description span:after {
  content: ':';
}

#portfolio .section__content #project__row .project__title {
  text-align: center;
}

#portfolio .section__content #project__row .project__description {
  opacity: .8;
}

#portfolio .section__content #project__row .project__description a {
  text-decoration: underline;
}

#portfolio .section__content #project__row .project__open__icon {
  position: absolute;
  top: 10px;
  right: 30px;
}

#contact .section__title #hint {
  height: 30px;
  width: 75%;
  background-color: rgba(81, 78, 242, 0.3);
  z-index: -1;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

#contact .section__content #hint {
  height: 30px;
  width: 70px;
  background: rgba(81, 78, 242, 0.3);
  border-radius: 15px;
  z-index: -1;
  -webkit-transform: translate(450px, -45px);
          transform: translate(450px, -45px);
}

#contact .section__content #contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .section__content #contact__social .contact__social__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f4f4f4;
  border: 0;
  border-radius: 15px;
  height: 50px;
  padding: 0px 10px;
  font-size: 16px;
  font-weight: 500;
  margin: 0px 15px;
}

#contact .section__content #contact__social .contact__social__button .icon {
  margin-right: 10px !important;
}

#contact .section__content #contact__separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .section__content #contact__separator__left, #contact .section__content #contact__separator__right {
  height: 5px;
  width: 100px;
  background: #4E72F2;
  margin: 0px 20px;
}

#contact .section__content #contact__separator__text {
  font-weight: 600;
  color: #cbcbcb;
}

#contact .section__content #contact__form .contact__form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 20px 0px;
}

#contact .section__content #contact__form .contact__form__input__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  min-height: 100px;
}

#contact .section__content #contact__form .contact__form__input__group label {
  margin: 20px 0px;
}

#contact .section__content #contact__form .contact__form__input__group input, #contact .section__content #contact__form .contact__form__input__group select, #contact .section__content #contact__form .contact__form__input__group textarea {
  min-height: 50px !important;
  width: 250px;
  background: #f4f4f4;
  border: 0;
  border-radius: 15px;
  font-family: 'Montserrat', san-serif;
  font-size: 16px;
  padding: 0px 10px;
}

#contact .section__content #contact__form .contact__form__input__group textarea {
  height: 300px;
  padding: 20px;
  width: calc(100% - 40px);
}

#contact .section__content #contact__form .contact__form__input__group input:valid, #contact .section__content #contact__form .contact__form__input__group select:valid, #contact .section__content #contact__form .contact__form__input__group textarea:valid {
  border: 2px solid rgba(78, 242, 163, 0.6);
}

#contact .section__content #contact__form .contact__form__input__group input:invalid, #contact .section__content #contact__form .contact__form__input__group select:invalid, #contact .section__content #contact__form .contact__form__input__group textarea:invalid {
  border: 2px solid rgba(242, 78, 137, 0.6);
}

#contact .section__content #contact__form__submit__button {
  height: 50px;
  width: 250px;
  margin: 20px calc((100% - 250px)/2);
  padding: 0px 10px;
  font-size: 16px;
  font-weight: 500;
  background: #4E72F2;
  border-radius: 15px;
  color: #ffffff;
}

#footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100px;
  width: 100vw;
  background: #4E72F2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

#footer__main #footer__logo {
  padding: 0px 50px;
}

#footer__main #footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 50px;
}

#footer__main #footer__links .footer__link {
  list-style: none;
  padding: 0px 25px;
  font-weight: 500;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
}

#footer__main #footer__links .footer__link a {
  color: #ffffff;
}

#footer__main #footer__links .footer__link:hover {
  background: rgba(58, 56, 183, 0.3);
  cursor: pointer;
  margin-right: 10px;
}

#footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #cbcbcb;
  font-weight: 600;
}

#footer__copyright__unsplash {
  text-align: center;
}

@media only screen and (min-width: 1920px) {
  #header {
    margin: 0px 20vw;
    max-width: 60vw;
  }
  #header__intro {
    padding: 50px 0px;
  }
  #header__image {
    max-height: 700px;
  }
  #header__image img {
    max-height: 700px;
  }
  .section {
    max-width: 60vw;
    margin: 0px auto;
  }
}

@media only screen and (max-width: 1024px) {
  #header {
    height: 450px;
  }
  #header__image img {
    height: 100% !important;
  }
  #header__greeting {
    font-size: 2.5rem;
  }
  #header__note {
    font-size: 1rem;
  }
  #header__name, #header__role {
    font-size: 1.5rem;
  }
  #header .header__contact__button {
    margin: 0px 5px;
  }
  .section__title {
    width: 30vw;
  }
  .section__content {
    width: 70vw;
  }
  #my-skills .section__content #hint {
    -webkit-transform: translate(260px, -45px);
            transform: translate(260px, -45px);
  }
  #services .section__content #hint {
    -webkit-transform: translate(320px, -45px);
            transform: translate(320px, -45px);
  }
  #portfolio .section__content #hint {
    -webkit-transform: translate(280px, -45px);
            transform: translate(280px, -45px);
  }
  #contact .section__content #hint {
    -webkit-transform: translate(280px, -45px);
            transform: translate(280px, -45px);
  }
  #contact #contact__form .contact__form__row .contact__form__input__group input, #contact #contact__form .contact__form__row .contact__form__input__group select {
    width: 200px;
  }
}

@media only screen and (max-width: 768px) {
  #nav #nav__logo {
    padding: 0px 20px;
  }
  #nav #nav__links {
    padding: 0px 20px;
  }
  #nav #nav__links .nav__link {
    padding: 0px 15px;
  }
  #header {
    height: 450px;
  }
  #header__intro {
    width: 100vw;
  }
  #header__image {
    display: none;
  }
  #header__greeting {
    font-size: 2.5rem;
  }
  #header__note {
    font-size: 1rem;
  }
  #header__name, #header__role {
    font-size: 1.5rem;
  }
  #header .header__contact__button {
    margin: 0px 5px;
  }
  .section__title {
    width: 30vw;
  }
  .section__content {
    width: 70vw;
    padding: 0px 30px;
  }
  #my-skills .section__content #hint {
    -webkit-transform: translate(190px, -45px);
            transform: translate(190px, -45px);
  }
  #services .section__content #hint {
    -webkit-transform: translate(200px, -45px);
            transform: translate(200px, -45px);
  }
  #services .section__content #service__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #services .section__content #service__row .service {
    padding: 0px 20px;
    margin: 20px 0px;
    width: 200px !important;
  }
  #portfolio .section__content #hint {
    -webkit-transform: translate(155px, -45px);
            transform: translate(155px, -45px);
  }
  #portfolio .section__content #project__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #portfolio .section__content #project__row .project {
    padding: 0px 0px 20px 0px;
  }
  #portfolio .section__content #project__row .project__open__icon {
    right: 10px;
  }
  #contact .section__content #hint {
    -webkit-transform: translate(190px, -45px);
            transform: translate(190px, -45px);
  }
  #contact .section__content #contact__social {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #contact .section__content #contact__social a .contact__social__button {
    margin: 10px 20px;
  }
  #contact #contact__form .contact__form__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #contact #contact__form .contact__form__row .contact__form__input__group input, #contact #contact__form .contact__form__row .contact__form__input__group select {
    width: 200px;
  }
}

@media only screen and (max-width: 425px) {
  #nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
  }
  #nav #nav__logo {
    margin-top: 20px;
  }
  #nav #nav__links {
    padding: 0;
    margin: 0px 0px 20px 0px;
  }
  #mobile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #mobile-nav__items {
    display: none;
  }
  #header {
    height: 500px;
  }
  #header__intro {
    padding: 10px 20px;
  }
  #header__intro #header__contact {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #header__intro #header__contact a .header__contact__button {
    margin: 10px 20px;
  }
  .section .section__title {
    display: none;
  }
  .section .section__content {
    width: 100vw;
  }
  #my-skills .section__content #tool__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #services .section__content #service__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #portfolio .section__content #project__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #contact .section__content #contact__form .contact__form__row .contact__form__input__group input, #contact .section__content #contact__form .contact__form__row .contact__form__input__group select {
    width: calc(100vw - 80px);
  }
  #footer #footer__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 0px;
  }
  #footer #footer__main #footer__links {
    margin: 0px 20px 20px 20px;
  }
}

@media only screen and (max-width: 375px) {
  #nav #nav__links .nav__link {
    padding: 0px 10px 0px 0px;
  }
  #nav #nav__links .nav__link--highlight {
    padding: 2px;
  }
  #header {
    min-height: 700px;
  }
  #header__contact .header__contact__button {
    width: 80vw;
  }
  .section__content {
    padding: 0px 10px;
  }
  #my-skills .section__content #hint {
    -webkit-transform: translate(115px, -45px);
            transform: translate(115px, -45px);
  }
  #services .section__content #hint {
    -webkit-transform: translate(135px, -45px);
            transform: translate(135px, -45px);
  }
  #portfolio .section__content #hint {
    -webkit-transform: translate(95px, -45px);
            transform: translate(95px, -45px);
  }
  #contact .section__content #hint {
    -webkit-transform: translate(95px, -45px);
            transform: translate(95px, -45px);
  }
  #contact .section__content #contact__social .contact__social__button {
    width: 80vw;
  }
  #contact .section__content #contact__form .contact__form__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #contact .section__content #contact__form .contact__form__input__group textarea {
    width: 80vw;
    margin: 0px 0px 0px 10px;
  }
  #footer__main #footer__links {
    padding: 0px 0px 20px 20px;
  }
  #footer__copyright {
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 320px) {
  #nav #nav__links .nav__link {
    padding: 0px 15px 0px 0px;
  }
  #nav #nav__links .nav__link--highlight {
    padding: 2px;
    display: none;
  }
  #nav #nav__links .nav__link:hover {
    background: transparent;
    margin: 0 !important;
  }
  #header {
    min-height: 700px;
  }
  #header__intro {
    padding: 10px;
  }
  #header__contact .header__contact__button {
    width: 80vw;
  }
  .section__content {
    padding: 0px 5px;
  }
  #my-skills .section__content #hint {
    -webkit-transform: translate(115px, -45px);
            transform: translate(115px, -45px);
  }
  #services .section__content #hint {
    -webkit-transform: translate(135px, -45px);
            transform: translate(135px, -45px);
  }
  #portfolio .section__content #hint {
    -webkit-transform: translate(95px, -45px);
            transform: translate(95px, -45px);
  }
  #contact .section__content #hint {
    -webkit-transform: translate(95px, -45px);
            transform: translate(95px, -45px);
  }
  #contact .section__content #contact__social {
    width: 100vw;
  }
  #contact .section__content #contact__social .contact__social__button {
    width: 90vw;
    margin: 10px 0px !important;
  }
  #contact .section__content #contact__form .contact__form__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #contact .section__content #contact__form .contact__form__input__group {
    width: 95vw;
    margin: 0px 10px;
  }
  #contact .section__content #contact__form .contact__form__input__group label {
    margin: 20px 10px;
  }
  #contact .section__content #contact__form .contact__form__input__group input, #contact .section__content #contact__form .contact__form__input__group select {
    width: 100%;
    margin: 0px 0px 0px 10px;
  }
  #contact .section__content #contact__form .contact__form__input__group textarea {
    width: 70%;
  }
  #contact .section__content #contact__submit__button {
    margin: 20px calc((100% - 280px)/2);
  }
  #footer__main #footer__links {
    padding: 0px 0px 20px 20px;
  }
  #footer__main #footer__links .footer__link {
    padding: 0px 10px;
  }
  #footer__copyright {
    padding: 0px 10px;
  }
}

@media (prefers-color-scheme: dark) {
  .nav__link a {
    color: #1d1c1c !important;
  }
  #header {
    background: url(../images/Header__Background--dark.svg) no-repeat;
    background-size: cover;
  }
  #header__greeting {
    color: #A04EF2 !important;
  }
  .service {
    background: none !important;
  }
  #service__web {
    background-image: url(../images/icons/service__web__bg.png) !important;
  }
  #service__design {
    background-image: url(../images/icons/service__design__bg.png) !important;
  }
  #service__mobile {
    background-image: url(../images/icons/service__mobile__bg.png) !important;
  }
  #footer__copyright__unsplash {
    color: #524D4E !important;
  }
}
/*# sourceMappingURL=home-page.css.map */