@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans&display=swap");
@-webkit-keyframes zoom-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes zoom-out {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes zoom-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1.0;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1.0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1.0;
  }
  100% {
    opacity: 0;
  }
}

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-display: swap;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  border: 0;
}

.active {
  display: block;
  -webkit-animation: zoom-in .3s ease-in-out;
          animation: zoom-in .3s ease-in-out;
}

.inactive {
  display: none !important;
  -webkit-animation: zoom-out .3s ease-in-out;
          animation: zoom-out .3s ease-in-out;
}

.fade-in {
  -webkit-animation: fade-in .3s ease-in-out;
          animation: fade-in .3s ease-in-out;
}

.fade-out {
  -webkit-animation: fade-out .3s ease-in-out;
          animation: fade-out .3s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  body, html {
    background: #1d1c1c !important;
  }
  p, a, h1, h2, h3, h4, h5, h6, label {
    color: #ffffff !important;
  }
}
/*# sourceMappingURL=styles.css.map */