@import '../variables.scss';
@import '../fonts.scss';
@import './animations.scss';

body, html {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-display: swap;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #000000;
}

button {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    border: 0;
}

.active {
    display: block;
    animation: zoom-in .3s ease-in-out;
}

.inactive {
    display: none !important;
    animation: zoom-out .3s ease-in-out;
}

.fade-in {
    animation: fade-in .3s ease-in-out;
}

.fade-out {
    animation: fade-out .3s ease-in-out;
}

@media (prefers-color-scheme: dark) {
    body, html {
        background: $body-background-dark !important;
    }
    p, a, h1, h2, h3, h4, h5, h6, label {
        color: #ffffff !important;
    }
}