$app-primary: #A04EF2;
$app-secondary: #4E72F2;

$text-alt-color: #cbcbcb;

$nav-highlight-button-background: rgba(160, 78, 242, 0.12);
$nav-button-hover: #f4f4f4;
$footer-button-hover: rgba(58, 56, 183, 0.3);

$form-success-color: rgba(78, 242, 163, 0.6);
$form-error-color: rgba(242, 78, 137, 0.6);

$section-title-background: rgba(196, 196, 196, 0.03);
$my-skills-hint-color: rgba(239, 78, 242, 0.3);
$services-hint-color: rgba(160, 78, 242, 0.3);
$portfolio-hint-color: rgba(78, 114, 242, 0.3);
$contact-hint-color: rgba(81, 78, 242, 0.3);

// DARK MODE VARIANTS
$body-background-dark: #1d1c1c