#nav {
  display: flex;
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* justify-content: center; */
  align-items: center; }
